.inputStyles {
  @apply text-center w-full flex h-9 rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50;
}

.layout {
  @apply grid grid-cols-[auto_1fr];
}
.folha {
  width: 100%;
  max-width: 500px; /* 210mm * 3.78px/mm */
  height: auto;
  aspect-ratio: 210 / 297; /* Maintain aspect ratio of A4 */
  background-color: white;
  border: 1px solid black; /* Opcional: para visualizar a área da folha */
  margin: 20px auto; /* Margens para o conteúdo */
}
